*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 1200px;
    padding: 0px;
}


.logo{
    color: rgb(247, 162, 51);
    float: left;
    width: 600px;
    height: 180px;
}

.logo1{
    width: 250px;
}
.logo1:hover{
    color: beige;
}

header{
border-style: none;
width: 1200px;
height: 150px;
background-color: blueviolet;
margin-top: 10px;
margin-bottom: 10px;

}

li{
 display: inline;
padding-left: 95px;
font-size: 20px;
color: brown;   
}


.brown:link{
    color: brown;
}

.brown:hover{
    color: black;
}

ul{
    background-color: yellow;
    width: 600px;
    height: 60px;
    float: left;
    list-style: none;
    padding-top: 90px;
}

main{
    background-color: lime;
    height: 600px;
    
}

video{

height: 600px;
float: left;
width: 600px;
}

h2{
    font-size: 25px;
    background-color: beige;
    width: 500px;
    height: 350px;
    float: right;
    text-align: center;
}

.texto{
    border-style: solid ; 
    margin-top:20px ;
    text-align: center;
    margin-bottom: 20px;
    width: 1138px;
    height: 80px;
    padding: 70px;
    font-size: 20px;
}

span{
    color: red;
}

.caja1{
width: 500px;
float: left;
}
.caja2{
width: 500px;
float: right;
}


.box{
    width: 500px;
    border-style: solid;
    margin-left: 400px;
    
    
}




